<h1 class="ui dividing header">Types</h1>

<h2 class="ui dividing header">
    Input
    <div class="sub header">
        A standard input
    </div>
</h2>

<div class="ui input">
    <input type="text" name="" placeholder="Search...">
</div>

<h1 class="ui dividing header">States</h1>

<h2 class="ui dividing header">
    Focus
    <div class="sub header">
        An input field can show a user is currently interacting with it
    </div>
</h2>
<div class="ui focus input">
    <input type="text" placeholder="Search...">
</div>

<h2 class="ui dividing header">
    Loading
    <div class="sub header">
        An icon input field can show that it is currently loading data
    </div>
</h2>
<div class="ui message">
    Loading inputs automatically modify the input's icon on loading state to show loading indication
</div>

<div class="ui left icon loading input">
    <i class="search icon"></i>
    <input type="text" placeholder="Search...">
</div>

<div class="ui icon loading input">
    <i class="search icon"></i>
    <input type="text" placeholder="Search...">
</div>

<h2 class="ui dividing header">
    Disabled
    <div class="sub header">
        An input field can show that it is disabled
    </div>
</h2>

<div class="ui disabled input">
    <input type="text" placeholder="Search...">
</div>

<div class="ui icon disabled input">
    <i class="search icon"></i>
    <input type="text" placeholder="Search...">
</div>

<div class="ui input">
  <input type="text" placeholder="Search..." disabled="">
</div>

<h2 class="ui dividing header">
    Error
    <div class="sub header">
        An input field can show the data contains errors
    </div>
</h2>

<div class="ui error input">
    <input type="text" placeholder="Search...">
</div>

<h1 class="ui dividing header">Variations</h1>

<h2 class="ui dividing header">
    Icon
    <div class="sub header">
        An input can be formatted with an icon
    </div>
</h2>
<div class="ui message">
    Input icons do not receive <b>pointer-events</b> unless a <b>link icon</b> is used.
</div>

<div class="ui icon input">
    <i class="search icon"></i>
    <input type="text" placeholder="Search...">
</div>

<div class="ui left icon input">
    <i class="users icon"></i>
    <input type="text" placeholder="Search...">
</div>

<div class="ui icon input">
    <i class="circular search link icon"></i>
    <input type="text" placeholder="Search...">
</div>

<div class="ui icon input">
    <i class="circular inverted search link icon"></i>
    <input type="text" placeholder="Search...">
</div>

<h2 class="ui dividing header">
    Labeled
    <div class="sub header">
        An input can be formatted with a labe
    </div>
</h2>

<div class="ui labeled input">
    <span class="ui label">http://</span>
    <input type="text" placeholder="mysite.com">
</div>

<div class="ui right labeled input">
    <input type="text" placeholder="Find domain">
    <div class="ui dropdown label">
        <div class="text">.com</div>
        <i class="dropdown icon"></i>
        <div class="menu">
            <div class="item">.com</div>
            <div class="item">.net</div>
            <div class="item">.org</div>
        </div>
    </div>
</div>

<div class="ui right labeled input">
    <input type="text" placeholder="Enter weight...">
    <div class="ui basic label">kg</div>
</div>

<div class="ui right labeled input">
    <label for="amount" class="ui label">$</label>
    <input type="text" placeholder="Amount" id="amount">
    <div class="ui basic label">.00</div>
</div>

<div class="ui right labeled left icon input">
    <i class="tags icon"></i>
    <input type="text" placeholder="Enter tags">
    <div class="ui tag label"></div>
</div>

<div class="ui left corner labeled input">
  <input type="text" placeholder="Search...">
  <div class="ui left corner label">
    <i class="asterisk icon"></i>
  </div>
</div>

<div class="ui corner labeled input">
  <input type="text" placeholder="Search...">
  <div class="ui corner label">
    <i class="asterisk icon"></i>
  </div>
</div>

<h2 class="ui dividing header">
    Action
    <div class="sub header">
        An input can be formatted to alert the user to an action they may perform
    </div>
</h2>
<div class="ui action input">
    <input type="text" placeholder="Search...">
    <a class="ui button">Search</a>
</div>

<div class="ui left action input">
    <a class="ui teal labeled icon button">
        <i class="cart icon"></i>
        Checkout
    </a>
    <input type="text" placeholder="$52.03">
</div>

<div class="ui action left icon input">
    <i class="search icon"></i>
    <input type="text" placeholder="Search...">
    <div class="ui basic button dropdown">
        <div class="text">This Page</div>
        <i class="dropdown icon"></i>
        <div class="menu">
            <div class="item">This Organization</div>
            <div class="item">Entire Site</div>
        </div>
    </div>
</div>

<div class="ui action input">
  <input type="text" placeholder="Search...">
  <select class="ui compact selection dropdown">
    <option value="all">All</option>
    <option selected="" value="articles">Articles</option>
    <option value="products">Products</option>
  </select>
  <div class="ui button">Search</div>
</div>

<div class="ui action input">
    <input type="text" value="http://ww.short.url/c0opq">
    <div class="ui teal right labeled icon button">
        <i class="copy icon"></i>
        Copy
    </div>
</div>

<div class="ui action input">
    <input type="text" placeholder="Search...">
    <div class="ui icon button">
        <i class="search icon"></i>
    </div>
</div>

<h2 class="ui dividing header">
    Transparent
    <div class="sub header">
        A transparent input has no background
    </div>
</h2>

<div class="ui transparent input">
    <input type="text" placeholder="Search...">
</div>

<div class="ui transparent icon input">
    <i class="search icon"></i>
    <input type="text" placeholder="Search...">
</div>

<div class="ui transparent left icon input">
    <i class="search icon"></i>
    <input type="text" placeholder="Search...">
</div>

<h2 class="ui dividing header">
    Inverted
    <div class="sub header">
        An input can be formatted to appear on dark backgrounds
    </div>
</h2>

<div class="ui inverted segment">
    <div class="ui input">
        <input type="text" placeholder="Search...">
    </div>
    <div class="ui divider"></div>
    <div class="ui left icon input">
        <i class="search icon"></i>
        <input type="text" placeholder="Search...">
    </div>
    <div class="ui divider"></div>
    <div class="ui icon input">
        <i class="search icon"></i>
        <input type="text" placeholder="Search...">
    </div>
</div>

<h2 class="ui dividing header">
    Fluid
    <div class="sub header">
        An input can take the size of its container
    </div>
</h2>

<div class="ui fluid input">
    <input type="text" placeholder="Search a very wide input...">
</div>

<div class="ui divider"></div>

<div class="ui fluid action input">
    <input type="text" placeholder="Search...">
    <button class="ui button">Search</button>
</div>

<h2 class="ui dividing header">
    Size
    <div class="sub header">
        An input can vary in size
    </div>
</h2>

<div class="ui mini icon input"><i class="search icon"></i><input type="text" placeholder="Search mini..."></div>
<div class="ui small icon input"><i class="search icon"></i><input type="text" placeholder="Search small..."></div>
<div class="ui icon input"><i class="search icon"></i><input type="text" placeholder="Search..."></div>
<div class="ui large icon input"><i class="search icon"></i><input type="text" placeholder="Search large..."></div>
<div class="ui big icon input"><i class="search icon"></i><input type="text" placeholder="Search big..."></div>
<div class="ui huge icon input"><i class="search icon"></i><input type="text" placeholder="Search huge..."></div>
<div class="ui massive icon input"><i class="search icon"></i><input type="text" placeholder="Search massive..."></div>






