<i class="mini home icon"></i>
<i class="tiny home icon"></i>
<i class="small home icon"></i>
<i class="home icon"></i>
<i class="large home icon"></i>
<i class="big home icon"></i>
<i class="huge home icon"></i>
<i class="massive home icon"></i>