<div class="ui inverted segment">
  <i class="inverted users icon"></i>
  <i class="inverted red users icon"></i>
  <i class="inverted orange users icon"></i>
  <i class="inverted yellow users icon"></i>
  <i class="inverted olive users icon"></i>
  <i class="inverted green users icon"></i>
  <i class="inverted teal users icon"></i>
  <i class="inverted blue users icon"></i>
  <i class="inverted violet users icon"></i>
  <i class="inverted purple users icon"></i>
  <i class="inverted pink users icon"></i>
  <i class="inverted brown users icon"></i>
  <i class="inverted grey users icon"></i>
</div>