<i class="huge icons">
  <i class="puzzle icon"></i>
  <i class="corner add icon"></i>
</i>

<i class="huge icons">
  <i class="puzzle icon"></i>
  <i class="top left corner add icon"></i>
</i>
<i class="huge icons">
  <i class="puzzle icon"></i>
  <i class="top right corner add icon"></i>
</i>
<i class="huge icons">
  <i class="puzzle icon"></i>
  <i class="bottom left corner add icon"></i>
</i>
<i class="huge icons">
  <i class="puzzle icon"></i>
  <i class="bottom right corner add icon"></i>
</i>

<h2 class="ui header dash_header">
  <i class="large icons">
    <i class="twitter icon"></i>
    <i class="inverted corner add icon"></i>
  </i>
  Add on Twitter
</h2>