<i class="audio description icon"></i>
<i class="backward icon"></i>
<i class="circle icon"></i>
<i class="circle outline icon"></i>
<i class="closed captioning icon"></i>
<i class="closed captioning outline icon"></i>
<i class="compress icon"></i>
<i class="eject icon"></i>
<i class="expand icon"></i>
<i class="expand arrows alternate icon"></i>
<i class="fast backward icon"></i>
<i class="fast forward icon"></i>
<i class="file audio icon"></i>
<i class="file audio outline icon"></i>
<i class="file video icon"></i>
<i class="file video outline icon"></i>
<i class="film icon"></i>
<i class="forward icon"></i>
<i class="headphones icon"></i>
<i class="microphone icon"></i>
<i class="microphone slash icon"></i>
<i class="music icon"></i>
<i class="pause icon"></i>
<i class="pause circle icon"></i>
<i class="pause circle outline icon"></i>
<i class="phone volume icon"></i>
<i class="play icon"></i>
<i class="play circle icon"></i>
<i class="play circle outline icon"></i>
<i class="podcast icon"></i>
<i class="random icon"></i>
<i class="redo icon"></i>
<i class="redo alternate icon"></i>
<i class="rss icon"></i>
<i class="rss square icon"></i>
<i class="step backward icon"></i>
<i class="step forward icon"></i>
<i class="stop icon"></i>
<i class="stop circle icon"></i>
<i class="stop circle outline icon"></i>
<i class="sync icon"></i>
<i class="sync alternate icon"></i>
<i class="undo icon"></i>
<i class="undo alternate icon"></i>
<i class="video icon"></i>
<i class="volume down icon"></i>
<i class="volume off icon"></i>
<i class="volume up icon"></i>