<i class="address book icon"></i>
<i class="address book outline icon"></i>
<i class="address card icon"></i>
<i class="address card outline icon"></i>
<i class="archive icon"></i>
<i class="balance scale icon"></i>
<i class="birthday cake icon"></i>
<i class="book icon"></i>
<i class="briefcase icon"></i>
<i class="building icon"></i>
<i class="building outline icon"></i>
<i class="bullhorn icon"></i>
<i class="bullseye icon"></i>
<i class="calculator icon"></i>
<i class="calendar icon"></i>
<i class="calendar outline icon"></i>
<i class="calendar alternate icon"></i>
<i class="calendar alternate outline icon"></i>
<i class="certificate icon"></i>
<i class="chart area icon"></i>
<i class="chart bar icon"></i>
<i class="chart bar outline icon"></i>
<i class="chart line icon"></i>
<i class="chart pie icon"></i>
<i class="clipboard icon"></i>
<i class="clipboard outline icon"></i>
<i class="coffee icon"></i>
<i class="columns icon"></i>
<i class="compass icon"></i>
<i class="compass outline icon"></i>
<i class="copy icon"></i>
<i class="copy outline icon"></i>
<i class="copyright icon"></i>
<i class="copyright outline icon"></i>
<i class="cut icon"></i>
<i class="edit icon"></i>
<i class="edit outline icon"></i>
<i class="envelope icon"></i>
<i class="envelope outline icon"></i>
<i class="envelope open icon"></i>
<i class="envelope open outline icon"></i>
<i class="envelope square icon"></i>
<i class="eraser icon"></i>
<i class="fax icon"></i>
<i class="file icon"></i>
<i class="file outline icon"></i>
<i class="file alternate icon"></i>
<i class="file alternate outline icon"></i>
<i class="folder icon"></i>
<i class="folder outline icon"></i>
<i class="folder open icon"></i>
<i class="folder open outline icon"></i>
<i class="globe icon"></i>
<i class="industry icon"></i>
<i class="paperclip icon"></i>
<i class="paste icon"></i>
<i class="pen square icon"></i>
<i class="pencil alternate icon"></i>
<i class="percent icon"></i>
<i class="phone icon"></i>
<i class="phone square icon"></i>
<i class="phone volume icon"></i>
<i class="registered icon"></i>
<i class="registered outline icon"></i>
<i class="save icon"></i>
<i class="save outline icon"></i>
<i class="sitemap icon"></i>
<i class="sticky note icon"></i>
<i class="sticky note outline icon"></i>
<i class="suitcase icon"></i>
<i class="table icon"></i>
<i class="tag icon"></i>
<i class="tags icon"></i>
<i class="tasks icon"></i>
<i class="thumbtack icon"></i>
<i class="trademark icon"></i>