<i class="chess icon"></i>
<i class="chess bishop icon"></i>
<i class="chess board icon"></i>
<i class="chess king icon"></i>
<i class="chess knight icon"></i>
<i class="chess pawn icon"></i>
<i class="chess queen icon"></i>
<i class="chess rook icon"></i>
<i class="square full icon"></i>