<i class="address book icon"></i>
<i class="address book outline icon"></i>
<i class="address card icon"></i>
<i class="address card outline icon"></i>
<i class="american sign language interpreting icon"></i>
<i class="assistive listening systems icon"></i>
<i class="at icon"></i>
<i class="bell icon"></i>
<i class="bell outline icon"></i>
<i class="bell slash icon"></i>
<i class="bell slash outline icon"></i>
<i class="bullhorn icon"></i>
<i class="comment icon"></i>
<i class="comment outline icon"></i>
<i class="comment alternate icon"></i>
<i class="comment alternate outline icon"></i>
<i class="comments icon"></i>
<i class="comments outline icon"></i>
<i class="envelope icon"></i>
<i class="envelope outline icon"></i>
<i class="envelope open icon"></i>
<i class="envelope open outline icon"></i>
<i class="envelope square icon"></i>
<i class="fax icon"></i>
<i class="inbox icon"></i>
<i class="language icon"></i>
<i class="microphone icon"></i>
<i class="microphone slash icon"></i>
<i class="mobile icon"></i>
<i class="mobile alternate icon"></i>
<i class="paper plane icon"></i>
<i class="paper plane outline icon"></i>
<i class="phone icon"></i>
<i class="phone square icon"></i>
<i class="phone volume icon"></i>
<i class="rss icon"></i>
<i class="rss square icon"></i>
<i class="tty icon"></i>
<i class="wifi icon"></i>