<i class="desktop icon"></i>
<i class="download icon"></i>
<i class="hdd icon"></i>
<i class="hdd outline icon"></i>
<i class="headphones icon"></i>
<i class="keyboard icon"></i>
<i class="keyboard outline icon"></i>
<i class="laptop icon"></i>
<i class="microchip icon"></i>
<i class="mobile icon"></i>
<i class="mobile alternate icon"></i>
<i class="plug icon"></i>
<i class="power off icon"></i>
<i class="print icon"></i>
<i class="save icon"></i>
<i class="save outline icon"></i>
<i class="server icon"></i>
<i class="tablet icon"></i>
<i class="tablet alternate icon"></i>
<i class="tv icon"></i>
<i class="upload icon"></i>