<i class="dollar sign icon"></i>
<i class="euro sign icon"></i>
<i class="lira sign icon"></i>
<i class="money bill alternate icon"></i>
<i class="money bill alternate outline icon"></i>
<i class="pound sign icon"></i>
<i class="ruble sign icon"></i>
<i class="rupee sign icon"></i>
<i class="shekel sign icon"></i>
<i class="won sign icon"></i>
<i class="yen sign icon"></i>