<i class="bell icon"></i>
<i class="bell outline icon"></i>
<i class="bell slash icon"></i>
<i class="bell slash outline icon"></i>
<i class="calendar icon"></i>
<i class="calendar outline icon"></i>
<i class="calendar alternate icon"></i>
<i class="calendar alternate outline icon"></i>
<i class="calendar check icon"></i>
<i class="calendar check outline icon"></i>
<i class="calendar minus icon"></i>
<i class="calendar minus outline icon"></i>
<i class="calendar plus icon"></i>
<i class="calendar plus outline icon"></i>
<i class="calendar times icon"></i>
<i class="calendar times outline icon"></i>
<i class="clock icon"></i>
<i class="clock outline icon"></i>
<i class="hourglass icon"></i>
<i class="hourglass outline icon"></i>
<i class="hourglass end icon"></i>
<i class="hourglass half icon"></i>
<i class="hourglass start icon"></i>
<i class="stopwatch icon"></i>