<i class="adjust icon"></i>
<i class="clone icon"></i>
<i class="clone outline icon"></i>
<i class="copy icon"></i>
<i class="copy outline icon"></i>
<i class="crop icon"></i>
<i class="crosshairs icon"></i>
<i class="cut icon"></i>
<i class="edit icon"></i>
<i class="edit outline icon"></i>
<i class="eraser icon"></i>
<i class="eye icon"></i>
<i class="eye dropper icon"></i>
<i class="eye slash icon"></i>
<i class="eye slash outline icon"></i>
<i class="object group icon"></i>
<i class="object group outline icon"></i>
<i class="object ungroup icon"></i>
<i class="object ungroup outline icon"></i>
<i class="paint brush icon"></i>
<i class="paste icon"></i>
<i class="pencil alternate icon"></i>
<i class="save icon"></i>
<i class="save outline icon"></i>
<i class="tint icon"></i>