<i class="genderless icon"></i>
<i class="mars icon"></i>
<i class="mars double icon"></i>
<i class="mars stroke icon"></i>
<i class="mars stroke horizontal icon"></i>
<i class="mars stroke vertical icon"></i>
<i class="mercury icon"></i>
<i class="neuter icon"></i>
<i class="transgender icon"></i>
<i class="transgender alternate icon"></i>
<i class="venus icon"></i>
<i class="venus double icon"></i>
<i class="venus mars icon"></i>