<i class="hand lizard icon"></i>
<i class="hand lizard outline icon"></i>
<i class="hand paper icon"></i>
<i class="hand paper outline icon"></i>
<i class="hand peace icon"></i>
<i class="hand peace outline icon"></i>
<i class="hand point down icon"></i>
<i class="hand point down outline icon"></i>
<i class="hand point left icon"></i>
<i class="hand point left outline icon"></i>
<i class="hand point right icon"></i>
<i class="hand point right outline icon"></i>
<i class="hand point up icon"></i>
<i class="hand point up outline icon"></i>
<i class="hand pointer icon"></i>
<i class="hand pointer outline icon"></i>
<i class="hand rock icon"></i>
<i class="hand rock outline icon"></i>
<i class="hand scissors icon"></i>
<i class="hand scissors outline icon"></i>
<i class="hand spock icon"></i>
<i class="hand spock outline icon"></i>
<i class="handshake icon"></i>
<i class="handshake outline icon"></i>
<i class="thumbs down icon"></i>
<i class="thumbs down outline icon"></i>
<i class="thumbs up icon"></i>
<i class="thumbs up outline icon"></i>