<i class="adjust icon"></i>
<i class="bolt icon"></i>
<i class="camera icon"></i>
<i class="camera retro icon"></i>
<i class="clone icon"></i>
<i class="clone outline icon"></i>
<i class="compress icon"></i>
<i class="expand icon"></i>
<i class="eye icon"></i>
<i class="eye dropper icon"></i>
<i class="eye slash icon"></i>
<i class="eye slash outline icon"></i>
<i class="file image icon"></i>
<i class="file image outline icon"></i>
<i class="film icon"></i>
<i class="id badge icon"></i>
<i class="id badge outline icon"></i>
<i class="id card icon"></i>
<i class="id card outline icon"></i>
<i class="image icon"></i>
<i class="image outline icon"></i>
<i class="images icon"></i>
<i class="images outline icon"></i>
<i class="sliders horizontal icon"></i>
<i class="tint icon"></i>