<i class="box icon"></i>
<i class="boxes icon"></i>
<i class="clipboard check icon"></i>
<i class="clipboard list icon"></i>
<i class="dolly icon"></i>
<i class="dolly flatbed icon"></i>
<i class="pallet icon"></i>
<i class="shipping fast icon"></i>
<i class="truck icon"></i>
<i class="warehouse icon"></i>