<i class="ambulance icon"></i>
<i class="anchor icon"></i>
<i class="balance scale icon"></i>
<i class="bath icon"></i>
<i class="bed icon"></i>
<i class="beer icon"></i>
<i class="bell icon"></i>
<i class="bell outline icon"></i>
<i class="bell slash icon"></i>
<i class="bell slash outline icon"></i>
<i class="bicycle icon"></i>
<i class="binoculars icon"></i>
<i class="birthday cake icon"></i>
<i class="blind icon"></i>
<i class="bomb icon"></i>
<i class="book icon"></i>
<i class="bookmark icon"></i>
<i class="bookmark outline icon"></i>
<i class="briefcase icon"></i>
<i class="building icon"></i>
<i class="building outline icon"></i>
<i class="car icon"></i>
<i class="coffee icon"></i>
<i class="crosshairs icon"></i>
<i class="dollar sign icon"></i>
<i class="eye icon"></i>
<i class="eye slash icon"></i>
<i class="eye slash outline icon"></i>
<i class="fighter jet icon"></i>
<i class="fire icon"></i>
<i class="fire extinguisher icon"></i>
<i class="flag icon"></i>
<i class="flag outline icon"></i>
<i class="flag checkered icon"></i>
<i class="flask icon"></i>
<i class="gamepad icon"></i>
<i class="gavel icon"></i>
<i class="gift icon"></i>
<i class="glass martini icon"></i>
<i class="globe icon"></i>
<i class="graduation cap icon"></i>
<i class="h square icon"></i>
<i class="heart icon"></i>
<i class="heart outline icon"></i>
<i class="heartbeat icon"></i>
<i class="home icon"></i>
<i class="hospital icon"></i>
<i class="hospital outline icon"></i>
<i class="image icon"></i>
<i class="image outline icon"></i>
<i class="images icon"></i>
<i class="images outline icon"></i>
<i class="industry icon"></i>
<i class="info icon"></i>
<i class="info circle icon"></i>
<i class="key icon"></i>
<i class="leaf icon"></i>
<i class="lemon icon"></i>
<i class="lemon outline icon"></i>
<i class="life ring icon"></i>
<i class="life ring outline icon"></i>
<i class="lightbulb icon"></i>
<i class="lightbulb outline icon"></i>
<i class="location arrow icon"></i>
<i class="low vision icon"></i>
<i class="magnet icon"></i>
<i class="male icon"></i>
<i class="map icon"></i>
<i class="map outline icon"></i>
<i class="map marker icon"></i>
<i class="map marker alternate icon"></i>
<i class="map pin icon"></i>
<i class="map signs icon"></i>
<i class="medkit icon"></i>
<i class="money bill alternate icon"></i>
<i class="money bill alternate outline icon"></i>
<i class="motorcycle icon"></i>
<i class="music icon"></i>
<i class="newspaper icon"></i>
<i class="newspaper outline icon"></i>
<i class="paw icon"></i>
<i class="phone icon"></i>
<i class="phone square icon"></i>
<i class="phone volume icon"></i>
<i class="plane icon"></i>
<i class="plug icon"></i>
<i class="plus icon"></i>
<i class="plus square icon"></i>
<i class="plus square outline icon"></i>
<i class="print icon"></i>
<i class="recycle icon"></i>
<i class="road icon"></i>
<i class="rocket icon"></i>
<i class="search icon"></i>
<i class="search minus icon"></i>
<i class="search plus icon"></i>
<i class="ship icon"></i>
<i class="shopping bag icon"></i>
<i class="shopping basket icon"></i>
<i class="shopping cart icon"></i>
<i class="shower icon"></i>
<i class="street view icon"></i>
<i class="subway icon"></i>
<i class="suitcase icon"></i>
<i class="tag icon"></i>
<i class="tags icon"></i>
<i class="taxi icon"></i>
<i class="thumbtack icon"></i>
<i class="ticket alternate icon"></i>
<i class="tint icon"></i>
<i class="train icon"></i>
<i class="tree icon"></i>
<i class="trophy icon"></i>
<i class="truck icon"></i>
<i class="tty icon"></i>
<i class="umbrella icon"></i>
<i class="university icon"></i>
<i class="utensil spoon icon"></i>
<i class="utensils icon"></i>
<i class="wheelchair icon"></i>
<i class="wifi icon"></i>
<i class="wrench icon"></i>