<i class="ambulance icon"></i>
<i class="band aid icon"></i>
<i class="dna icon"></i>
<i class="first aid icon"></i>
<i class="heart icon"></i>
<i class="heart outline icon"></i>
<i class="heartbeat icon"></i>
<i class="hospital icon"></i>
<i class="hospital outline icon"></i>
<i class="hospital symbol icon"></i>
<i class="pills icon"></i>
<i class="plus icon"></i>
<i class="stethoscope icon"></i>
<i class="syringe icon"></i>
<i class="thermometer icon"></i>
<i class="user md icon"></i>
<i class="weight icon"></i>