<i class="ambulance icon"></i>
<i class="anchor icon"></i>
<i class="archive icon"></i>
<i class="balance scale icon"></i>
<i class="bath icon"></i>
<i class="bed icon"></i>
<i class="beer icon"></i>
<i class="bell icon"></i>
<i class="bell outline icon"></i>
<i class="bicycle icon"></i>
<i class="binoculars icon"></i>
<i class="birthday cake icon"></i>
<i class="bomb icon"></i>
<i class="book icon"></i>
<i class="bookmark icon"></i>
<i class="bookmark outline icon"></i>
<i class="briefcase icon"></i>
<i class="bug icon"></i>
<i class="building icon"></i>
<i class="building outline icon"></i>
<i class="bullhorn icon"></i>
<i class="bullseye icon"></i>
<i class="bus icon"></i>
<i class="calculator icon"></i>
<i class="calendar icon"></i>
<i class="calendar outline icon"></i>
<i class="calendar alternate icon"></i>
<i class="calendar alternate outline icon"></i>
<i class="camera icon"></i>
<i class="camera retro icon"></i>
<i class="car icon"></i>
<i class="clipboard icon"></i>
<i class="clipboard outline icon"></i>
<i class="cloud icon"></i>
<i class="coffee icon"></i>
<i class="cog icon"></i>
<i class="cogs icon"></i>
<i class="compass icon"></i>
<i class="compass outline icon"></i>
<i class="copy icon"></i>
<i class="copy outline icon"></i>
<i class="cube icon"></i>
<i class="cubes icon"></i>
<i class="cut icon"></i>
<i class="envelope icon"></i>
<i class="envelope outline icon"></i>
<i class="envelope open icon"></i>
<i class="envelope open outline icon"></i>
<i class="eraser icon"></i>
<i class="eye icon"></i>
<i class="eye dropper icon"></i>
<i class="fax icon"></i>
<i class="fighter jet icon"></i>
<i class="file icon"></i>
<i class="file outline icon"></i>
<i class="file alternate icon"></i>
<i class="file alternate outline icon"></i>
<i class="film icon"></i>
<i class="fire icon"></i>
<i class="fire extinguisher icon"></i>
<i class="flag icon"></i>
<i class="flag outline icon"></i>
<i class="flag checkered icon"></i>
<i class="flask icon"></i>
<i class="futbol icon"></i>
<i class="futbol outline icon"></i>
<i class="gamepad icon"></i>
<i class="gavel icon"></i>
<i class="gem icon"></i>
<i class="gem outline icon"></i>
<i class="gift icon"></i>
<i class="glass martini icon"></i>
<i class="globe icon"></i>
<i class="graduation cap icon"></i>
<i class="hdd icon"></i>
<i class="hdd outline icon"></i>
<i class="headphones icon"></i>
<i class="heart icon"></i>
<i class="heart outline icon"></i>
<i class="home icon"></i>
<i class="hospital icon"></i>
<i class="hospital outline icon"></i>
<i class="hourglass icon"></i>
<i class="hourglass outline icon"></i>
<i class="image icon"></i>
<i class="image outline icon"></i>
<i class="images icon"></i>
<i class="images outline icon"></i>
<i class="industry icon"></i>
<i class="key icon"></i>
<i class="keyboard icon"></i>
<i class="keyboard outline icon"></i>
<i class="laptop icon"></i>
<i class="leaf icon"></i>
<i class="lemon icon"></i>
<i class="lemon outline icon"></i>
<i class="life ring icon"></i>
<i class="life ring outline icon"></i>
<i class="lightbulb icon"></i>
<i class="lightbulb outline icon"></i>
<i class="lock icon"></i>
<i class="lock open icon"></i>
<i class="magic icon"></i>
<i class="magnet icon"></i>
<i class="map icon"></i>
<i class="map outline icon"></i>
<i class="map marker icon"></i>
<i class="map marker alternate icon"></i>
<i class="map pin icon"></i>
<i class="map signs icon"></i>
<i class="medkit icon"></i>
<i class="microchip icon"></i>
<i class="microphone icon"></i>
<i class="mobile icon"></i>
<i class="mobile alternate icon"></i>
<i class="money bill alternate icon"></i>
<i class="money bill alternate outline icon"></i>
<i class="moon icon"></i>
<i class="moon outline icon"></i>
<i class="motorcycle icon"></i>
<i class="newspaper icon"></i>
<i class="newspaper outline icon"></i>
<i class="paint brush icon"></i>
<i class="paper plane icon"></i>
<i class="paper plane outline icon"></i>
<i class="paperclip icon"></i>
<i class="paste icon"></i>
<i class="paw icon"></i>
<i class="pencil alternate icon"></i>
<i class="phone icon"></i>
<i class="plane icon"></i>
<i class="plug icon"></i>
<i class="print icon"></i>
<i class="puzzle piece icon"></i>
<i class="road icon"></i>
<i class="rocket icon"></i>
<i class="save icon"></i>
<i class="save outline icon"></i>
<i class="search icon"></i>
<i class="shield alternate icon"></i>
<i class="shopping bag icon"></i>
<i class="shopping basket icon"></i>
<i class="shopping cart icon"></i>
<i class="shower icon"></i>
<i class="snowflake icon"></i>
<i class="snowflake outline icon"></i>
<i class="space shuttle icon"></i>
<i class="star icon"></i>
<i class="star outline icon"></i>
<i class="sticky note icon"></i>
<i class="sticky note outline icon"></i>
<i class="stopwatch icon"></i>
<i class="subway icon"></i>
<i class="suitcase icon"></i>
<i class="sun icon"></i>
<i class="sun outline icon"></i>
<i class="tablet icon"></i>
<i class="tablet alternate icon"></i>
<i class="tachometer alternate icon"></i>
<i class="tag icon"></i>
<i class="tags icon"></i>
<i class="taxi icon"></i>
<i class="thumbtack icon"></i>
<i class="ticket alternate icon"></i>
<i class="train icon"></i>
<i class="trash icon"></i>
<i class="trash alternate icon"></i>
<i class="trash alternate outline icon"></i>
<i class="tree icon"></i>
<i class="trophy icon"></i>
<i class="truck icon"></i>
<i class="tv icon"></i>
<i class="umbrella icon"></i>
<i class="university icon"></i>
<i class="unlock icon"></i>
<i class="unlock alternate icon"></i>
<i class="utensil spoon icon"></i>
<i class="utensils icon"></i>
<i class="wheelchair icon"></i>
<i class="wrench icon"></i>