<i class="bell icon"></i>
<i class="bell outline icon"></i>
<i class="bookmark icon"></i>
<i class="bookmark outline icon"></i>
<i class="bullhorn icon"></i>
<i class="camera icon"></i>
<i class="camera retro icon"></i>
<i class="cart arrow down icon"></i>
<i class="cart plus icon"></i>
<i class="certificate icon"></i>
<i class="credit card icon"></i>
<i class="credit card outline icon"></i>
<i class="gem icon"></i>
<i class="gem outline icon"></i>
<i class="gift icon"></i>
<i class="handshake icon"></i>
<i class="handshake outline icon"></i>
<i class="heart icon"></i>
<i class="heart outline icon"></i>
<i class="key icon"></i>
<i class="shopping bag icon"></i>
<i class="shopping basket icon"></i>
<i class="shopping cart icon"></i>
<i class="star icon"></i>
<i class="star outline icon"></i>
<i class="tag icon"></i>
<i class="tags icon"></i>
<i class="thumbs down icon"></i>
<i class="thumbs down outline icon"></i>
<i class="thumbs up icon"></i>
<i class="thumbs up outline icon"></i>
<i class="trophy icon"></i>