<i class="bookmark icon"></i>
<i class="bookmark outline icon"></i>
<i class="calendar icon"></i>
<i class="calendar outline icon"></i>
<i class="certificate icon"></i>
<i class="circle icon"></i>
<i class="circle outline icon"></i>
<i class="cloud icon"></i>
<i class="comment icon"></i>
<i class="comment outline icon"></i>
<i class="file icon"></i>
<i class="file outline icon"></i>
<i class="folder icon"></i>
<i class="folder outline icon"></i>
<i class="heart icon"></i>
<i class="heart outline icon"></i>
<i class="map marker icon"></i>
<i class="play icon"></i>
<i class="square icon"></i>
<i class="square outline icon"></i>
<i class="star icon"></i>
<i class="star outline icon"></i>