<i class="asterisk icon"></i>
<i class="certificate icon"></i>
<i class="circle notch icon"></i>
<i class="cog icon"></i>
<i class="compass icon"></i>
<i class="compass outline icon"></i>
<i class="crosshairs icon"></i>
<i class="life ring icon"></i>
<i class="life ring outline icon"></i>
<i class="snowflake icon"></i>
<i class="snowflake outline icon"></i>
<i class="spinner icon"></i>
<i class="sun icon"></i>
<i class="sun outline icon"></i>
<i class="sync icon"></i>