<i class="baseball ball icon"></i>
<i class="basketball ball icon"></i>
<i class="bowling ball icon"></i>
<i class="football ball icon"></i>
<i class="futbol icon"></i>
<i class="futbol outline icon"></i>
<i class="golf ball icon"></i>
<i class="hockey puck icon"></i>
<i class="quidditch icon"></i>
<i class="table tennis icon"></i>
<i class="volleyball ball icon"></i>