<i class="ban icon"></i>
<i class="battery empty icon"></i>
<i class="battery full icon"></i>
<i class="battery half icon"></i>
<i class="battery quarter icon"></i>
<i class="battery three quarters icon"></i>
<i class="bell icon"></i>
<i class="bell outline icon"></i>
<i class="bell slash icon"></i>
<i class="bell slash outline icon"></i>
<i class="calendar icon"></i>
<i class="calendar outline icon"></i>
<i class="calendar alternate icon"></i>
<i class="calendar alternate outline icon"></i>
<i class="calendar check icon"></i>
<i class="calendar check outline icon"></i>
<i class="calendar minus icon"></i>
<i class="calendar minus outline icon"></i>
<i class="calendar plus icon"></i>
<i class="calendar plus outline icon"></i>
<i class="calendar times icon"></i>
<i class="calendar times outline icon"></i>
<i class="cart arrow down icon"></i>
<i class="cart plus icon"></i>
<i class="exclamation icon"></i>
<i class="exclamation circle icon"></i>
<i class="exclamation triangle icon"></i>
<i class="eye icon"></i>
<i class="eye slash icon"></i>
<i class="eye slash outline icon"></i>
<i class="file icon"></i>
<i class="file outline icon"></i>
<i class="file alternate icon"></i>
<i class="file alternate outline icon"></i>
<i class="folder icon"></i>
<i class="folder outline icon"></i>
<i class="folder open icon"></i>
<i class="folder open outline icon"></i>
<i class="info icon"></i>
<i class="info circle icon"></i>
<i class="lock icon"></i>
<i class="lock open icon"></i>
<i class="minus icon"></i>
<i class="minus circle icon"></i>
<i class="minus square icon"></i>
<i class="minus square outline icon"></i>
<i class="plus icon"></i>
<i class="plus circle icon"></i>
<i class="plus square icon"></i>
<i class="plus square outline icon"></i>
<i class="question icon"></i>
<i class="question circle icon"></i>
<i class="question circle outline icon"></i>
<i class="shield alternate icon"></i>
<i class="shopping cart icon"></i>
<i class="sign in alternate icon"></i>
<i class="sign out alternate icon"></i>
<i class="thermometer empty icon"></i>
<i class="thermometer full icon"></i>
<i class="thermometer half icon"></i>
<i class="thermometer quarter icon"></i>
<i class="thermometer three quarters icon"></i>
<i class="thumbs down icon"></i>
<i class="thumbs down outline icon"></i>
<i class="thumbs up icon"></i>
<i class="thumbs up outline icon"></i>
<i class="toggle off icon"></i>
<i class="toggle on icon"></i>
<i class="unlock icon"></i>
<i class="unlock alternate icon"></i>