<i class="address book icon"></i>
<i class="address book outline icon"></i>
<i class="address card icon"></i>
<i class="address card outline icon"></i>
<i class="bed icon"></i>
<i class="blind icon"></i>
<i class="child icon"></i>
<i class="female icon"></i>
<i class="frown icon"></i>
<i class="frown outline icon"></i>
<i class="id badge icon"></i>
<i class="id badge outline icon"></i>
<i class="id card icon"></i>
<i class="id card outline icon"></i>
<i class="male icon"></i>
<i class="meh icon"></i>
<i class="meh outline icon"></i>
<i class="power off icon"></i>
<i class="smile icon"></i>
<i class="smile outline icon"></i>
<i class="street view icon"></i>
<i class="user icon"></i>
<i class="user outline icon"></i>
<i class="user circle icon"></i>
<i class="user circle outline icon"></i>
<i class="user md icon"></i>
<i class="user plus icon"></i>
<i class="user secret icon"></i>
<i class="user times icon"></i>
<i class="users icon"></i>
<i class="wheelchair icon"></i>