<i class="ambulance icon"></i>
<i class="bicycle icon"></i>
<i class="bus icon"></i>
<i class="car icon"></i>
<i class="fighter jet icon"></i>
<i class="motorcycle icon"></i>
<i class="paper plane icon"></i>
<i class="paper plane outline icon"></i>
<i class="plane icon"></i>
<i class="rocket icon"></i>
<i class="ship icon"></i>
<i class="shopping cart icon"></i>
<i class="space shuttle icon"></i>
<i class="subway icon"></i>
<i class="taxi icon"></i>
<i class="train icon"></i>
<i class="truck icon"></i>
<i class="wheelchair icon"></i>