{{#message}}
<div class="ui {{state}} message">
  <div class="header">
    {{{title}}}
  </div>
  <ul class="list">
    {{#items}}
    <li>{{{content}}}</li>
    {{/items}}
  </ul>
</div>
{{/message}}
