{{#message}}
<div class="ui {{state}} icon message">
  <i class="{{icon}} icon"></i>
  <div class="content">
    <div class="header">
        {{{title}}}
    </div>
    <p>{{{content}}}</p>
  </div>
</div>
{{/message}}