{{#reveal}}
<div class="ui {{class}} reveal">
    {{#visible}}
    <div class="visible content">
        <img src="{{src}}" class="ui {{class}} image">
    </div>
    {{/visible}}
    {{#hidden}}
    <div class="hidden content">
        <img src="{{src}}" class="ui {{class}} image">
    </div>
    {{/hidden}}
</div>
{{/reveal}}