<h1 class="ui header">Heading Level 1</h1>
<h2 class="ui header dash_header">Heading Level 2</h2>
<h3 class="ui header">Heading Level 3</h3>
<h4 class="ui header dash_header">Heading Level 4</h4>
<h5 class="ui header">Heading Level 5</h5>
<h6 class="ui header">Heading Level 6</h6>

{{> atoms-divider }}
<h2 class="ui icon header dash_header">
  <i class="settings icon"></i>
  <div class="content">
    Account Settings
    <div class="sub header">Manage your account settings and set e-mail preferences.</div>
  </div>
</h2>

{{> atoms-divider }}
<div class="ui sizer vertical segment">
  <div class="ui huge header">Huge Header</div>
  <p></p>
  <div class="ui large header">Large Header</div>
  <p></p>
  <div class="ui medium header">Medium Header</div>
  <p></p>
  <div class="ui small header">Small Header</div>
  <p></p>
  <div class="ui tiny header">Tiny Header</div>
  <p></p>
</div>
{{> atoms-divider }}

<div class="ui action left icon input">
  <i class="search icon"></i>
  <input type="text" name="" placeholder="Search...">
  <div class="ui teal button">Search</div>
</div>

<div class="ui two column relaxed grid">
  <div class="column">
    <table class="ui right inverted blue selectable celled aligned table">
      <thead>
        <tr>
          <th class="left aligned">Persons</th>
          <th>Calories</th>
          <th>Fat</th>
          <th>Protein</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="left aligned">Delmar</td>
          <td>36</td>
          <td>36g</td>
          <td>2g</td>
        </tr>
        <tr>
          <td class="left aligned">Louise</td>
          <td>24</td>
          <td>24g</td>
          <td>29g</td>
        </tr>
        <tr>
          <td class="left aligned">Terrell</td>
          <td>22</td>
          <td>11g</td>
          <td>9g</td>
        </tr>
        <tr>
          <td class="left aligned">Marion</td>
          <td>7</td>
          <td>35g</td>
          <td>3g</td>
        </tr>
        <tr>
          <td class="left aligned">Clayton</td>
          <td>7</td>
          <td>38g</td>
          <td>20g</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="column">
    <table class="ui right aligned celled table">
      <thead>
        <tr>
          <th class="left aligned">Persons</th>
          <th>Calories</th>
          <th>Fat</th>
          <th>Protein</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="left aligned">Delmar</td>
          <td class="positive">36</td>
          <td class="negative">36g</td>
          <td class="warning">2g</td>
        </tr>
        <tr class="positive">
          <td class="left aligned">Louise</td>
          <td>24</td>
          <td>24g</td>
          <td>29g</td>
        </tr>
        <tr>
          <td class="left aligned">Terrell</td>
          <td>22</td>
          <td>11g</td>
          <td>9g</td>
        </tr>
        <tr>
          <td class="left aligned">Marion</td>
          <td>7</td>
          <td>35g</td>
          <td>3g</td>
        </tr>
        <tr>
          <td class="left aligned">Clayton</td>
          <td>7</td>
          <td>38g</td>
          <td>20g</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


