<h1 class="ui header">Heading Level 1</h1>
<h2 class="ui header dash_header">Heading Level 2</h2>
<h3 class="ui header">Heading Level 3</h3>
<h4 class="ui header dash_header">Heading Level 4</h4>
<h5 class="ui header">Heading Level 5</h5>
<h6 class="ui header">Heading Level 6</h6>

{{> atoms-divider }}
<h2 class="ui icon header dash_header">
  <i class="settings icon"></i>
  <div class="content">
    Account Settings
    <div class="sub header">Manage your account settings and set e-mail preferences.</div>
  </div>
</h2>

{{> atoms-divider }}
<div class="ui sizer vertical segment">
  <div class="ui huge header">Huge Header</div>
  <p></p>
  <div class="ui large header">Large Header</div>
  <p></p>
  <div class="ui medium header">Medium Header</div>
  <p></p>
  <div class="ui small header">Small Header</div>
  <p></p>
  <div class="ui tiny header">Tiny Header</div>
  <p></p>
</div>
