{{!-- <div class="ui sidebar inverted vertical menu">
    <a class="item">
      1
    </a>
    <a class="item">
      2
    </a>
    <a class="item">
      3
    </a>
</div> --}}

<div class="ui left visible demo vertical inverted sidebar labeled icon menu">
  <a class="item"><i class="home icon"></i>Home</a>
  <a class="item"><i class="block layout icon"></i>Topics</a>
  <a class="item"><i class="smile icon"></i>Firends</a>
</div>

<div class="pusher">
  <!-- Site content !-->
  <div class="ui people shape">
    <div class="sides">
      <div class="active side">
        <div class="ui card">
          <div class="image">
            <img src="/images/avatar/steve.jpg">
          </div>
          <div class="content">
            <div class="header">Steve Jobes</div>
            <div class="meta">
              <a>Acquaintances</a>
            </div>
            <div class="description">
              Steve Jobes is a fictional character designed to resemble someone familiar to readers.
            </div>
          </div>
          <div class="extra content">
            <span class="right floated">
              Joined in 2014
            </span>
            <span>
              <i class="user icon"></i>
              151 Friends
            </span>
          </div>
        </div>
      </div>
      <div class="side">
        <div class="ui card">
          <div class="image">
            <img src="/images/avatar/molly.png">
          </div>
          <div class="content">
            <a class="header">Stevie Feliciano</a>
            <div class="meta">
              <span class="date">Joined in 2014</span>
            </div>
            <div class="description">
              Stevie Feliciano is a library scientist living in New York City. She likes to spend her time reading, running, and writing.
            </div>
          </div>
          <div class="extra content">
            <a>
              <i class="user icon"></i>
              22 Friends
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ui divider"></div>
  <div class="ui icon buttons link">
    <a class="ui button" data-animation="flip" data-direction="left" title="Flip Left"><i class="left arrow icon"></i></a>
    <div class="ui button" data-animation="flip" data-direction="right" title="Flip Right"><i class="right arrow icon"></i></div>
    <div class="ui button" data-animation="flip" data-direction="up" title="Flip Up"><i class="up arrow icon"></i></div>
    <div class="ui button" data-animation="flip" data-direction="down" title="Flip Down"><i class="down arrow icon"></i></div>
  </div>

  <div class="ui icon buttons">
    <div class="ui button" data-animation="flip" data-direction="over" title="Flip Over"><i class="retweet icon"></i></div>
    <div class="ui button" data-animation="flip" data-direction="back" title="Flip Back"><i class="flipped retweet icon"></i></div>
  </div>

  <div class="ui divider"></div>
  <div class="ui toggle icon button"><i class="align justify icon"></i></div>
</div>

