/* .clearfix::after {
  content: ".";
  display: block;
  visibility: hidden;
  clear: both;
} */


.top.horizontal.navbar {
    padding-bottom: 0;
    padding-top: 0;
}

#dialpad .buttons > .button {
  padding: 1.5em 1.5em;
}


/* #dialpad {
    height: 30%;
} */