
<h1 class="ui dividing header">Types</h1>

<h2 class="ui dividing header">
    Dimmer
    <div class="sub header">A simple dimmer displays no content</div>
</h2>

<div class="ui info compact message">A dimmer will automatically be created when a dimming behavior is triggered on an element.</div>

<div id="dimmer-example1" class="ui segment">
    <h3 class="ui header">Overlayable Section</h3>
    <div class="ui small images">
        <img src="/images/wireframe/image.png">
        <img src="/images/wireframe/image.png">
        <img src="/images/wireframe/image.png">
    </div>
    <div class="ui items">
        <div class="item">
            <div class="ui small circular image">
                <img src="/images/square-image.png">
            </div>
            <div class="middle aligned content">
                <div class="ui placeholder">
                    <div class="paragraph">
                        <div class="line"></div>
                        <div class="line"></div>
                        <div class="line"></div>
                        <div class="line"></div>
                    </div>
                </div>
            </div> 
        </div>
    </div>
</div>
<div class="ui icon buttons">
    <div class="ui dimmer-example show button" data-dimmer="dimmer-example1">
        <i class="add icon"></i>
    </div>
    <div class="ui dimmer-example hide button" data-dimmer="dimmer-example1">
        <i class="minus icon"></i>
    </div>
</div>

<h2 class="ui dividing header">
    Content Dimmer
    <div class="sub header">A dimmer can display content</div>
</h2>
<div class="ui info compact message">
    Since 2.3 dimmers with content now only need a single wrapping content container.
</div>

<div id="dimmer-example2" class="ui segment">
    <h3 class="ui header">Overlayable Section</h3>
    <div class="ui small images">
        <img src="/images/wireframe/image.png">
        <img src="/images/wireframe/image.png">
        <img src="/images/wireframe/image.png">
    </div>
    <div class="ui items">
        <div class="item">
            <div class="ui small circular image">
                <img src="/images/square-image.png">
            </div>
            <div class="middle aligned content">
                <div class="ui placeholder">
                    <div class="paragraph">
                        <div class="line"></div>
                        <div class="line"></div>
                        <div class="line"></div>
                        <div class="line"></div>
                    </div>
                </div>
            </div> 
        </div>
    </div>

    <div class="ui dimmer">
        <div class="content">
            <h2 class="ui inverted icon header">
                <i class="like icon"></i>
                Dimmed Message!
            </h2>
        </div>
    </div>
</div>
<div class="ui icon buttons">
    <div class="ui dimmer-example show button" data-dimmer="dimmer-example2">
        <i class="add icon"></i>
    </div>
    <div class="ui dimmer-example hide button" data-dimmer="dimmer-example2">
        <i class="minus icon"></i>
    </div>
</div>

<h2 class="ui dividing header">
    Page Dimmer
    <div class="sub header">A dimmer can be formatted to be fixed to the page</div>
</h2>

<div id="page-dimmer-example" class="ui icon button">
  <i class="plus icon"></i>
  Show
</div>

<div class="ui page dimmer">
    <div class="content">
        <div class="center">
          <h2 class="ui inverted icon header">
            <i class="mail icon"></i>
                Dimmer Message
            <div class="sub header">Dimmer sub-header</div>
          </h2>
        </div>
    </div>
</div>

<h1 class="ui dividing header">
    States
</h1>

<h2 class="ui dividing header">
    Active
    <div class="sub header">An active dimmer will dim its parent container</div>
</h2>

<div class="ui segment">
    <div class="ui active dimmer">
    </div>
    <div class="ui placeholder">
        <div class="paragraph">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </div>
</div>

<h2 class="ui dividing header">
    Disabled
    <div class="sub header">A disabled dimmer cannot be activated</div>
</h2>

<div class="ui segment">
    <div class="ui disabled dimmer">
    </div>
    <div class="ui placeholder">
        <div class="paragraph">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </div>
</div>

<h1 class="ui dividing header">Variations</h1>

<h2 class="ui dividing header">
    Blurring
    <div class="sub header">A dimmable element can blur its contents</div>
</h2>

<div id="dimmer-example4" class="ui blurring segment">
    <h3 class="ui header">Overlayable Section</h3>
    <div class="ui small images">
        <img src="/images/wireframe/image.png">
        <img src="/images/wireframe/image.png">
        <img src="/images/wireframe/image.png">
    </div>
    <div class="ui items">
        <div class="item">
            <div class="ui small circular image">
                <img src="/images/square-image.png">
            </div>
            <div class="middle aligned content">
                <div class="ui placeholder">
                    <div class="paragraph">
                        <div class="line"></div>
                        <div class="line"></div>
                        <div class="line"></div>
                        <div class="line"></div>
                    </div>
                </div>
            </div> 
        </div>
    </div>

    <div class="ui dimmer">
        <div class="content">
            <h2 class="ui inverted icon header">
                <i class="like icon"></i>
                Dimmed Message!
            </h2>
        </div>
    </div>
</div>
<div class="ui icon buttons">
    <div class="ui dimmer-example show button" data-dimmer="dimmer-example4">
        <i class="add icon"></i>
    </div>
    <div class="ui dimmer-example hide button" data-dimmer="dimmer-example4">
        <i class="minus icon"></i>
    </div>
</div>


<h2 class="ui dividing header">
    Vertical Alignment
    <div class="sub header">A dimmer can have its content top or bottom aligned.</div>
</h2>

<div class="ui segment" id="dimmer-example5">
  <div class="ui top aligned dimmer">
    <div class="content">
      <h2 class="ui inverted header">Title</h2>
      <div class="ui primary button">Add</div>
      <div class="ui button">View</div>
    </div>
  </div>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>

<div class="ui icon buttons">
    <div class="ui dimmer-example show button" data-dimmer="dimmer-example5">
        <i class="add icon"></i>
    </div>
    <div class="ui dimmer-example hide button" data-dimmer="dimmer-example5">
        <i class="minus icon"></i>
    </div>
</div>


<div class="ui segment" id="dimmer-example6">
  <div class="ui bottom aligned dimmer">
    <div class="content">
      <h2 class="ui inverted header">Title</h2>
      <div class="ui primary button">Add</div>
      <div class="ui button">View</div>
    </div>
  </div>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>

<div class="ui icon buttons">
    <div class="ui dimmer-example show button" data-dimmer="dimmer-example6">
        <i class="add icon"></i>
    </div>
    <div class="ui dimmer-example hide button" data-dimmer="dimmer-example6">
        <i class="minus icon"></i>
    </div>
</div>

<h2 class="ui dividing header">
    simple Dimmer
    <div class="sub header">A dimmer can be controlled without Javascript</div>
</h2>

<div class="ui info compact message">Having any parent element receive the class ui dimmable dimmed will trigger the dimmer to display.</div>

<div class="ui dimmable dimmed segment">
  <div class="ui simple dimmer"></div>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>

<h2 class="ui dividing header">
    Inverted Dimmer
    <div class="sub header">A dimmer can be formatted to have its colors inverted</div>
</h2>

<div class="ui segment" id="dimmer-example7">
  <div class="ui inverted dimmer"></div>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>

<div class="ui icon buttons">
    <div class="ui dimmer-example show button" data-dimmer="dimmer-example7">
        <i class="plus icon"></i>
    </div>
    <div class="ui dimmer-example hide button" data-dimmer="dimmer-example7">
        <i class="minus icon"></i>
    </div>
</div>


