<h1 class="ui dividing header">Types</h1>

<h2>Checkbox</h2>
<p>A standard checkbox</p>

<div class="ui checkbox">
    <input type="checkbox" name="example">
    <label>Make my profile visible</label>
</div>

<h2>Radio</h2>
<p>A checkbox can be formatted as a radio element. This means it is an exclusive option.</p>

<div class="ui radio checkbox">
    <input type="checkbox" name="radio" checked="checked">
    <label>Radio choice</label>
</div>
<div class="ui divider"></div>
<div class="ui form">
    <div class="inline fields">
        <label>How often do you use checkboxes?</label>
        <div class="field"><div class="ui radio checkbox"><label>Once a week</label><input type="checkbox" name="frequency" checked="checked"></div></div>
        <div class="field"><div class="ui radio checkbox"><label>2-3 times a week</label><input type="checkbox" name="frequency"></div></div>
        <div class="field"><div class="ui radio checkbox"><label>Once a day</label><input type="checkbox" name="frequency"></div></div>
        <div class="field"><div class="ui radio checkbox"><label>Twice a day</label><input type="checkbox" name="frequency"></div></div>
    </div>
</div>


<div class="ui divider"></div>
<div class="ui center aligned grid">
    <div class="equal width stretched row">
        <div class="column"><div class="ui segment">1</div></div>
        <div class="eight wide column">
            <img src="/images/wireframe/image.png">
        </div>
        <div class="column"><div class="ui segment">2</div></div>
    </div>
</div>