<h1 class="ui dividing header">Example</h1>

<h2 class="ui dividing header">
  Sticking to Adjacent Context
  <div class="sub header">
    Sticky content attaches itself to the viewport when it is passed, and remains fixed to the viewport until this fixed content collides with the bottom edge of the passed context. Additional static content can exist above sticky content without affecting its position.
  </div>
</h2>
<div class="ui container grid" id="example1">
  <div class="ui four wide column"></div>
  <div class="ui four eight wide column">
    <div class="ui left rail">
      <div class="ui placeholder">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>

      <div class="ui example1 sticky">
        <h3 class="header">Stuck Content</h3>
        <div class="content">
          <img class="ui image" src="/images/wireframe/image.png" alt="">
        </div>
      </div>
    </div>
    <div class="ui right rail">
      <div class="ui example1 sticky">
        <h3 class="header">Stuck Content</h3>
        <img class="ui image" src="/images/wireframe/image.png" alt="">
      </div>
      <div class="ui placeholder">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>

    </div>
    <div class="ui placeholder">
      <div class="paragraph">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>
    </div>
  </div>
  <div class="ui four wide column"></div>
</div>

<h2 class="ui dividing header">
  Pushing
  <div class="sub header">Specifying pushing: true will have the viewport "push" the sticky content depending on the scroll direction. When scrolling down content will be stuck to the top of the viewport, but in the opposite direction content is stuck to the bottom of the viewport.</div>
</h2>

<div class="ui container grid" id="example2">
  <div class="ui four wide column"></div>
  <div class="ui four eight wide column">
    <div class="ui left rail">
      <div class="ui placeholder">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>

      <div class="ui example2 sticky">
        <h3 class="header">Stuck Content</h3>
        <div class="content">
          <img class="ui image" src="/images/wireframe/image.png" alt="">
        </div>
      </div>
    </div>
    <div class="ui right rail">
      <div class="ui example2 sticky">
        <h3 class="header">Stuck Content</h3>
        <img class="ui image" src="/images/wireframe/image.png" alt="">
      </div>
      <div class="ui placeholder">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>

    </div>
    <div class="ui placeholder">
      <div class="paragraph">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>
    </div>
  </div>
  <div class="ui four wide column"></div>
</div>

<h2 class="ui dividing header">
  Oversized Content
  <div class="sub header">
    <p>Sticky content that is larger than the viewport will automatically scroll independently from the context, shifting scroll direction at any time will also immediately adjust the scroll position of the fixed content.</p>
    <p>This behavior makes sure users aren't required to navigate all the way to the top of the context element to see content that can't fit on-screen inside the sticky element.</p>
  </div>
</h2>

<div class="ui container grid" id="example3">
  <div class="ui four wide column"></div>
  <div class="ui four eight wide column">
    <div class="ui left rail">
      <div class="ui placeholder">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>

      <div class="ui example3 sticky">
        <h3 class="header">超长的内容</h3>
        <div class="ui divided items">
          <div class="item">
            <div class="ui tiny image"><img src="/images/wireframe/image.png" alt=""></div>
            <div class="middle aligned content">
              <a class="header">分享此文章</a>
              <div class="meta"><span>来自<a href="#">作者</a></span></div>
            </div>
          </div>
          <div class="item">
            <div class="ui tiny image"><img src="/images/wireframe/image.png" alt=""></div>
            <div class="middle aligned content">
              <a class="header">分享此文章</a>
              <div class="meta"><span>来自<a href="#">作者</a></span></div>
            </div>
          </div>
          <div class="item">
            <div class="ui tiny image"><img src="/images/wireframe/image.png" alt=""></div>
            <div class="middle aligned content">
              <a class="header">分享此文章</a>
              <div class="meta"><span>来自<a href="#">作者</a></span></div>
            </div>
          </div>
          <div class="item">
            <div class="ui tiny image"><img src="/images/wireframe/image.png" alt=""></div>
            <div class="middle aligned content">
              <a class="header">分享此文章</a>
              <div class="meta"><span>来自<a href="#">作者</a></span></div>
            </div>
          </div>
          <div class="item">
            <div class="ui tiny image"><img src="/images/wireframe/image.png" alt=""></div>
            <div class="middle aligned content">
              <a class="header">分享此文章</a>
              <div class="meta"><span>来自<a href="#">作者</a></span></div>
            </div>
          </div>
          <div class="item">
            <div class="ui tiny image"><img src="/images/wireframe/image.png" alt=""></div>
            <div class="middle aligned content">
              <a class="header">分享此文章</a>
              <div class="meta"><span>来自<a href="#">作者</a></span></div>
            </div>
          </div>
          <div class="item">
            <div class="ui tiny image"><img src="/images/wireframe/image.png" alt=""></div>
            <div class="middle aligned content">
              <a class="header">分享此文章</a>
              <div class="meta"><span>来自<a href="#">作者</a></span></div>
            </div>
          </div>
          <div class="item">
            <div class="ui tiny image"><img src="/images/wireframe/image.png" alt=""></div>
            <div class="middle aligned content">
              <a class="header">分享此文章</a>
              <div class="meta"><span>来自<a href="#">作者</a></span></div>
            </div>
          </div>
          <div class="item">
            <div class="ui tiny image"><img src="/images/wireframe/image.png" alt=""></div>
            <div class="middle aligned content">
              <a class="header">分享此文章</a>
              <div class="meta"><span>来自<a href="#">作者</a></span></div>
            </div>
          </div>
          <div class="item">
            <div class="ui tiny image"><img src="/images/wireframe/image.png" alt=""></div>
            <div class="middle aligned content">
              <a class="header">分享此文章</a>
              <div class="meta"><span>来自<a href="#">作者</a></span></div>
            </div>
          </div>
          <div class="item">
            <div class="ui tiny image"><img src="/images/wireframe/image.png" alt=""></div>
            <div class="middle aligned content">
              <a class="header">分享此文章</a>
              <div class="meta"><span>来自<a href="#">作者</a></span></div>
            </div>
          </div>
          <div class="item">
            <div class="ui tiny image"><img src="/images/wireframe/image.png" alt=""></div>
            <div class="middle aligned content">
              <a class="header">分享此文章</a>
              <div class="meta"><span>来自<a href="#">作者</a></span></div>
            </div>
          </div>
          <div class="item">
            <div class="ui tiny image"><img src="/images/wireframe/image.png" alt=""></div>
            <div class="middle aligned content">
              <a class="header">分享此文章</a>
              <div class="meta"><span>来自<a href="#">作者</a></span></div>
            </div>
          </div>
          <div class="item">
            <div class="ui tiny image"><img src="/images/wireframe/image.png" alt=""></div>
            <div class="middle aligned content">
              <a class="header">分享此文章</a>
              <div class="meta"><span>来自<a href="#">作者</a></span></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ui right rail">
      <div class="ui example3 sticky">
        <h3 class="header">固定的短内容</h3>
        <img class="ui image" src="/images/wireframe/image.png" alt="">
      </div>
      <div class="ui placeholder">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>

    </div>
    <div class="ui placeholder">
      <div class="paragraph">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>
    </div>
  </div>
  <div class="ui four wide column"></div>
</div>

<h2 class="ui dividing header">
  Sticking to Own Context
  <div class="sub header">
    <p>Sticky content without a specified context can also stick itself to its current context, although this may cause overlap issues with content.</p>
    <p>Content that sticks to its own context will adjust its own layout when being "stuck". You can fix layout issues caused by this reflow by adding styles to the next element after a <strong>ui fixed sticky</strong></p>
  </div>
</h2>


<div class="ui segment" id="example4">
  <div class="ui sticky example4">
    <div class="ui fluid three item tabular menu">
      <a class="active item">Tab 1</a>
      <a class="item">Tab 2</a>
      <a class="item">Tab 3</a>
    </div>
  </div>
  <div class="ui active tab">
    <div class="ui placeholder">
      <div class="paragraph">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>
    </div>
  </div>
</div>
