{{#animated-button}}
<div class="ui animated button" tabindex="-1">
  <div class="visible content">{{{ showContent }}}</div>
  <div class="hidden content">
    {{{ hiddenContent }}}
  </div>
</div>
{{/animated-button}}