{{#group-variations-button}}
<div class="ui buttons {{ class }}">
  {{#buttons}}
  <button class="ui button {{ class }}">{{{ text }}}</button>
    {{#divider}}
      <div class="{{ class }}" data-text="{{ text }}"></div>
    {{/divider}}
  {{/buttons}}
</div>
{{/group-variations-button}}