<h1 class="ui dividing header">Types</h1>
<h2 class="ui dividing header">
    Items
    <div class="sub header">A group of items.</div>
</h2>
<div class="ui positive ignored icon message">
    <i class="mobile icon"></i>
    <div class="content">
        <div class="header">Responsive Element</div>
        <p>Item views are designed to be responsive with images stacking at mobile resolutions.</p>
    </div>
</div>

<div class="ui items">
    <div class="item">
        <div class="image">
            <img src="/images/wireframe/image.png" alt="">
        </div>
        <div class="content">
            <a class="header">Header</a>
            <div class="meta"><span>description</span></div>
            <div class="description">
                <div class="ui placeholder">
                    <div class="paragraph">
                        <div class="line"></div>
                        <div class="line"></div>
                        <div class="line"></div>
                        <div class="line"></div>
                        <div class="line"></div>
                    </div>
                </div>
            </div>
            <div class="extra">Additional Details</div>
        </div>
    </div>

    <div class="item">
        <div class="image">
            <img src="/images/wireframe/image.png" alt="">
        </div>
        <div class="content">
            <a class="header">Header</a>
            <div class="meta"><span>description</span></div>
            <div class="description">
                <div class="ui placeholder">
                    <div class="paragraph">
                        <div class="line"></div>
                        <div class="line"></div>
                        <div class="line"></div>
                        <div class="line"></div>
                        <div class="line"></div>
                    </div>
                </div>
            </div>
            <div class="extra">Additional Details</div>
        </div>
    </div>
</div>

<h1 class="ui dividing header">Content</h1>
<h2 class="ui dividing header">
    Image
    <div class="sub header">An item can contain an image</div>
</h2>

<div class="ui divided items">
    <div class="item">
        <div class="image">
            <img src="/images/wireframe/image.png" alt="">
        </div>
    </div>
    <div class="item">
        <div class="image">
            <img src="/images/wireframe/image.png" alt="">
        </div>
    </div>
    <div class="item">
        <div class="image">
            <img src="/images/wireframe/image.png" alt="">
        </div>
    </div>
</div>

<h2 class="ui dividing header">
    Content
    <div class="sub header">An item can contain content</div>
</h2>

<div class="ui items">
    <div class="item">
        <div class="ui tiny image">
            <img src="/images/wireframe/image.png" alt="">
        </div>
        <div class="middle aligned content">
            Content A
        </div>
    </div>
    <div class="item">
        <div class="ui tiny image">
            <img src="/images/wireframe/image.png" alt="">
        </div>
        <div class="middle aligned content">
            Content B
        </div>
    </div>
</div>

<h2 class="ui dividing header">
    Header
    <div class="sub header">An item can contain a header</div>
</h2>

<div class="ui items">
    <div class="item">
        <div class="image"><img src="/images/wireframe/image.png" alt=""></div>
        <div class="middle aligned content">
            <a class="header">12 Years a Slave</a>
        </div>
    </div>

    <div class="item">
        <div class="image"><img src="/images/wireframe/image.png" alt=""></div>
        <div class="middle aligned content">
            <a class="header">My Neighbor Totoro</a>
        </div>
    </div>
</div>

<h2 class="ui dividing header">
    Metadata
    <div class="sub header">An item can contain content metadata</div>
</h2>

<div class="ui info compact message">
    <i class="info icon"></i>
    You can include an arbitrary amount of metadata using your own class conventions, all child elements will automatically be spaced
</div>

<div class="ui items">
    <div class="item">
        <div class="image">
            <img src="/images/wireframe/image.png" alt="">
        </div>
        <div class="content">
            <a href="" class="header">Arrowhead Valley Camp</a>
            <div class="meta">
                <span class="price">$1000</span>
                <span class="date">1 Month</span>
            </div>
            <div class="description">
                <div class="ui placeholder">
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<h2 class="ui dividing header">
    Link
    <div class="sub header">An item can contain links as images, headers, or inside content</div>
</h2>

<div class="ui compact yellow message">
    <i class="star icon"></i>To make the entire content of an item link, check out the link variation below
</div>

<div class="ui items">
    <div class="item">
        <a class="ui tiny image">
            <img src="/images/avatar/stevie.jpg" alt="">
        </a>
        <div class="content">
            <a href="" class="header">Stevie Feliciano</a>
            <div class="description">
                <p>Stevie Feliciano is a <a>library scientist</a> living in New York City. She likes to spend her time reading, running, and writing.</p>
            </div>
        </div>
    </div>
</div>

<h2 class="ui dividing header">
    Description
    <div class="sub header">An item can contain a description with a single or multiple paragraphs</div>
</h2>

<div class="ui items">
    <div class="item">
        <div class="ui small image">
            <img src="/images/wireframe/image.png" alt="">
        </div>
        <div class="content">
            <a href="" class="header">Cute Dog</a>
            <div class="description">
                <p>Cute dogs come in a variety of shapes and sizes. Some cute dogs are cute for their adorable faces, others for their tiny stature, and even others for their massive size.</p>
                <p>Many people also have their own barometers for what makes a cute dog.</p>
            </div>
        </div>
    </div>
</div>

<h2 class="ui dividing header">
    Extra Content
    <div class="sub header">An item can contain extra content meant to be formatted separately from the main content</div>
</h2>

<div class="ui items">
    <div class="item">
        <div class="content">
            <div class="header">Cute Dog</div>
            <div class="description">
                <div class="ui placeholder">
                    <div class="paragraph">
                        <div class="line"></div>
                        <div class="line"></div>
                        <div class="line"></div>
                        <div class="line"></div>
                    </div>
                </div>
            </div>
            <div class="extra">
                <i class="green check icon"></i>
                121 votes
            </div>
        </div>
    </div>
</div>

<h2 class="ui dividing header">
    Rating
    <div class="sub header">An item can contain icons signifying a 'like' or 'favorite' action</div>
</h2>

<div class="ui info compact message">You can use the rating component to attach events to like and favorite icons</div>

<div class="ui items">
    <div class="item">
        <a href="" class="ui tiny image">
            <img src="/images/avatar/molly.png" alt="">
        </a>
        <div class="middle aligned content">
            <div class="header">
                <i class="like icon"></i>
                Veronika Ossi
            </div>
        </div>
    </div>
</div>

<h1 class="ui dividing header">Variations</h1>

<h2 class="ui dividing header">
    Stacking
    <div class="sub header">A table can specify how it stacks items responsively</div>
</h2>

<div class="ui unstackable items">
    <div class="item">
        <div class="image">
            <img src="/images/wireframe/image.png" alt="">
        </div>
        <div class="content">
            <a class="header">Header</a>
            <div class="meta"><span>description</span></div>
            <div class="description">
                <div class="ui placeholder">
                    <div class="paragraph">
                        <div class="line"></div>
                        <div class="line"></div>
                        <div class="line"></div>
                        <div class="line"></div>
                        <div class="line"></div>
                    </div>
                </div>
            </div>
            <div class="extra">Additional Details</div>
        </div>
    </div>

    <div class="item">
        <div class="image">
            <img src="/images/wireframe/image.png" alt="">
        </div>
        <div class="content">
            <a class="header">Header</a>
            <div class="meta"><span>description</span></div>
            <div class="description">
                <div class="ui placeholder">
                    <div class="paragraph">
                        <div class="line"></div>
                        <div class="line"></div>
                        <div class="line"></div>
                        <div class="line"></div>
                        <div class="line"></div>
                    </div>
                </div>
            </div>
            <div class="extra">Additional Details</div>
        </div>
    </div>
</div>

<h2 class="ui dividing header">
    Divided
    <div class="sub header">Items can be divided to better distinguish between grouped content</div>
</h2>
<div class="ui info message">
    <i class="info icon"></i>The following example uses ui for legibility only. This is not necessary for using ui items
</div>

<div class="ui divided items">
    <div class="item">
        <div class="ui small image">
            <img src="/images/wireframe/image.png">
        </div>
        <div class="content">
            <div class="header">12 Years a Slave</div>
            <div class="meta">
                <span>Union Square 14</span>
            </div>
            <div class="description">
                <div class="ui placeholder">
                    <div class="paragraph">
                        <div class="line"></div>
                        <div class="line"></div>
                        <div class="line"></div>
                    </div>
                </div>
            </div>
            <div class="extra">
                <div class="ui label">IMAX</div>
                <div class="ui label">
                    <i class="globe icon"></i>
                    Addtional Languages
                </div>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="ui small image">
            <img src="/images/wireframe/image.png">
        </div>
        <div class="content">
            <div class="header">My Neighbor Totoro</div>
            <div class="meta">
                <span>IFC Cinema</span>
            </div>
            <div class="description">
                <div class="ui placeholder">
                    <div class="paragraph">
                        <div class="line"></div>
                        <div class="line"></div>
                        <div class="line"></div>
                    </div>
                </div>
            </div>
            <div class="extra">
                <div class="ui label">Limited</div>
                <div class="ui right floated primary button">
                    Buy Tickets
                    <i class="right chevron icon"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="ui small image">
            <img src="/images/wireframe/image.png">
        </div>
        <div class="content">
            <div class="header">Watchmen</div>
            <div class="meta">
                <span>IFC</span>
            </div>
            <div class="description">
                <div class="ui placeholder">
                    <div class="paragraph">
                        <div class="line"></div>
                        <div class="line"></div>
                        <div class="line"></div>
                    </div>
                </div>
            </div>
            <div class="extra">
                <div class="ui right floated primary button">
                    Buy Tickets
                    <i class="right chevron icon"></i>
                </div>
            </div>
        </div>
    </div>
</div>

<h2 class="ui dividing header">
    Relaxed
    <div class="sub header">A group of items can relax its padding to provide more negative space</div>
</h2>

<div class="ui very relaxed items">
  <div class="item">
    <div class="ui tiny image">
      <img src="/images/wireframe/image.png">
    </div>
    <div class="middle aligned content">
      <a class="header">12 Years a Slave</a>
    </div>
  </div>
  <div class="item">
    <div class="ui tiny image">
      <img src="/images/wireframe/image.png">
    </div>
    <div class="middle aligned content">
      <a class="header">My Neighbor Totoro</a>
    </div>
  </div>
  <div class="item">
    <div class="ui tiny image">
      <img src="/images/wireframe/image.png">
    </div>
    <div class="middle aligned content">
      <a class="header">Watchmen</a>
    </div>
  </div>
</div>


<h2 class="ui dividing header">
    Link Item
    <div class="sub header">An item can be formatted so that the entire contents link to another page</div>
</h2>

<div class="ui link items">
  <div class="item">
    <div class="ui tiny image">
      <img src="/images/avatar/stevie.jpg">
    </div>
    <div class="content">
      <div class="header">Stevie Feliciano</div>
      <div class="description">
        <div class="ui placeholder">
            <div class="paragraph">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="item">
    <div class="ui tiny image">
      <img src="/images/avatar/veronika.jpg">
    </div>
    <div class="content">
      <div class="header">Veronika Ossi</div>
      <div class="description">
        <div class="ui placeholder">
            <div class="paragraph">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="item">
    <div class="ui tiny image">
      <img src="/images/avatar/jenny.jpg">
    </div>
    <div class="content">
      <div class="header">Jenny Hess</div>
      <div class="description">
        <div class="ui placeholder">
            <div class="paragraph">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

<h2 class="ui dividing header">
    Vertical Alignment
    <div class="sub header">Content can specify its vertical alignment</div>
</h2>
<div class="ui compact info message">
    <i class="info icon"></i>You can include an arbitrary amount of metadata using your own class conventions, all child elements will automatically be spaced
</div>

<div class="ui items">
  <div class="item">
    <div class="ui small image">
      <img src="/images/wireframe/image.png">
    </div>
    <div class="content">
      <div class="header">
        Top Aligned
      </div>
    </div>
  </div>
  <div class="item">
    <div class="ui small image">
      <img src="/images/wireframe/image.png">
    </div>
    <div class="middle aligned content">
      <div class="header">
        Middle Aligned
      </div>
    </div>
  </div>
  <div class="item">
    <div class="ui small image">
      <img src="/images/wireframe/image.png">
    </div>
    <div class="bottom aligned content">
      <div class="header">
        Bottom Aligned
      </div>
    </div>
  </div>
</div>


<h2 class="ui dividing header">
    Floated Content
    <div class="sub header">Any content element can be floated left or right</div>
</h2>
<div class="ui info compact message">
    <i class="info icon"></i>
    You can include an arbitrary amount of metadata using your own class conventions, all child elements will automatically be spaced
</div>

<div class="ui items">
  <div class="item">
    <div class="ui small image">
      <img src="/images/wireframe/image.png">
    </div>
    <div class="middle aligned content">
      <div class="header">
        Content A
      </div>
      <div class="description">
        <div class="ui placeholder">
            <div class="paragraph">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
        </div>
      </div>
      <div class="extra">
        <div class="ui right floated button">
          Action
        </div>
      </div>
    </div>
  </div>
  <div class="item">
    <div class="ui small image">
      <img src="/images/wireframe/image.png">
    </div>
    <div class="middle aligned content">
      <div class="header">
        Content B
      </div>
      <div class="description">
        <div class="ui placeholder">
            <div class="paragraph">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
        </div>
      </div>
      <div class="extra">
        <div class="ui right floated button">
          Action
        </div>
      </div>
    </div>
  </div>
  <div class="item">
    <div class="ui small image">
      <img src="/images/wireframe/image.png">
    </div>
    <div class="middle aligned content">
      <div class="header">
        Content C
      </div>
      <div class="description">
        <div class="ui placeholder">
            <div class="paragraph">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
        </div>
      </div>
      <div class="extra">
        <div class="ui right floated button">
          Action
        </div>
      </div>
    </div>
  </div>
</div>


