<div class="ui container grid" id="example1">
  <div class="ui four twelve wide column">
    <div class="ui right rail">
      <div class="ui example1 sticky">
        <h3 class="header">Stuck Content</h3>
        <img class="ui autumn leaf image" src="/images/1.png" alt="">
      </div>
    </div>

    <h1 class="ui dividing header">Transitions</h1>

    <h4 class="ui dividing header">
      Scale
    </h4>
    <p>An element can scale into or out of view</p>

    <a class="ui pointing below black ignored label" data-state="scale">Run Code</a>
    <div class="ui segment">
      <code>
        $('.autumn.leaf').transition('scale');
      </code>
    </div>

    <h4>Zoom</h4>
    <p>An element can zoom into view from far away</p>
    <a class="ui pointing below black ignored label" data-state="zoom">Run Code</a>
    <div class="ui segment">
      <code>
        $('.autumn.leaf').transition('zoom');
      </code>
    </div>

    <h4>Fade</h4>
    <p>An element can fade into or out of view descending and ascending</p>
    <a class="ui pointing below black ignored label" data-state="fade">Run Code</a>
    <div class="ui segment">
      <code>
        $('.autumn.leaf').transition('fade');
      </code>
    </div>

    <a class="ui pointing below black ignored label" data-state="fade up">Run Code</a>
    <div class="ui segment">
      <code>
        $('.autumn.leaf').transition('fade up');
      </code>
    </div>

    <a class="ui pointing below black ignored label" data-state="fade down">Run Code</a>
    <div class="ui segment">
      <code>
        $('.autumn.leaf').transition('fade down');
      </code>
    </div>

    <a class="ui pointing below black ignored label" data-state="fade left">Run Code</a>
    <div class="ui segment">
      <code>
        $('.autumn.leaf').transition('fade left');
      </code>
    </div>

    <a class="ui pointing below black ignored label" data-state="fade right">Run Code</a>
    <div class="ui segment">
      <code>
        $('.autumn.leaf').transition('fade right');
      </code>
    </div>

    <h4>Flip</h4>
    <p>An element can flip into or out of view vertically or horizontally</p>

    <a class="ui pointing below black ignored label" data-state="horizontal flip">Run Code</a>
    <div class="ui segment">
      <code>
        $('.autumn.leaf').transition('horizontal flip');
      </code>
    </div>

    <a class="ui pointing below black ignored label" data-state="vertical flip">Run Code</a>
    <div class="ui segment">
      <code>
        $('.autumn.leaf').transition('vertical flip');
      </code>
    </div>

    <h4>Drop</h4>
    <p>An element can drop into view from above</p>

    <a class="ui pointing below black ignored label" data-state="drop">Run Code</a>
    <div class="ui segment">
      <code>
        $('.autumn.leaf').transition('drop');
      </code>
    </div>

    <h4>Fly</h4>
    <p>An element can fly in from off canvas</p>

    <a class="ui pointing below black ignored label" data-state="fly left">Run Code</a>
    <div class="ui segment">
      <code>
        $('.autumn.leaf').transition('fly left');
      </code>
    </div>

    <a class="ui pointing below black ignored label" data-state="fly right">Run Code</a>
    <div class="ui segment">
      <code>
        $('.autumn.leaf').transition('fly right');
      </code>
    </div>

    <a class="ui pointing below black ignored label" data-state="fly up">Run Code</a>
    <div class="ui segment">
      <code>
        $('.autumn.leaf').transition('fly up');
      </code>
    </div>

    <a class="ui pointing below black ignored label" data-state="fly down">Run Code</a>
    <div class="ui segment">
      <code>
        $('.autumn.leaf').transition('fly down');
      </code>
    </div>

    <h4>Swing</h4>
    <p>An element can swing into view</p>

    <a class="ui pointing below black ignored label" data-state="swing left">Run Code</a>
    <div class="ui segment">
      <code>
        $('.autumn.leaf').transition('swing left');
      </code>
    </div>

    <a class="ui pointing below black ignored label" data-state="swing right">Run Code</a>
    <div class="ui segment">
      <code>
        $('.autumn.leaf').transition('swing right');
      </code>
    </div>

    <a class="ui pointing below black ignored label" data-state="swing up">Run Code</a>
    <div class="ui segment">
      <code>
        $('.autumn.leaf').transition('swing up');
      </code>
    </div>

    <a class="ui pointing below black ignored label" data-state="swing down">Run Code</a>
    <div class="ui segment">
      <code>
        $('.autumn.leaf').transition('swing down');
      </code>
    </div>

    <h4>Browse</h4>
    <p>An element can appear and disappear as part of a series</p>

    <a class="ui pointing below black ignored label" data-state="browse">Run Code</a>
    <div class="ui segment">
      <code>
        $('.autumn.leaf').transition('browse');
      </code>
    </div>

    <a class="ui pointing below black ignored label" data-state="browse right">Run Code</a>
    <div class="ui segment">
      <code>
        $('.autumn.leaf').transition('browse right');
      </code>
    </div>

    <h4>Slide</h4>
    <p>An element can appear to slide in from above or below</p>

    <a class="ui pointing below black ignored label" data-state="slide down">Run Code</a>
    <div class="ui segment">
      <code>
        $('.autumn.leaf').transition('slide down');
      </code>
    </div>

    <a class="ui pointing below black ignored label" data-state="slide up">Run Code</a>
    <div class="ui segment">
      <code>
        $('.autumn.leaf').transition('slide up');
      </code>
    </div>

    <a class="ui pointing below black ignored label" data-state="slide left">Run Code</a>
    <div class="ui segment">
      <code>
        $('.autumn.leaf').transition('slide left');
      </code>
    </div>

    <a class="ui pointing below black ignored label" data-state="slide right">Run Code</a>
    <div class="ui segment">
      <code>
        $('.autumn.leaf').transition('slide right');
      </code>
    </div>

    <h1 class="ui dividing header">Static Animations</h1>

    <h4>Jiggle</h4>
    <p>An element can jiggle to draw attention to its shape</p>

    <a class="ui pointing below black ignored label" data-state="jiggle">Run Code</a>
    <div class="ui segment">
      <code>
        $('.autumn.leaf').transition('jiggle');
      </code>
    </div>

    <h4>Flash</h4>
    <p>An element can flash to draw attention to itself</p>

    <a class="ui pointing below black ignored label" data-state="flash">Run Code</a>
    <div class="ui segment">
      <code>
        $('.autumn.leaf').transition('flash');
      </code>
    </div>

    <h4>Shake</h4>
    <p>An element can shake to draw attention to its position</p>

    <a class="ui pointing below black ignored label" data-state="shake">Run Code</a>
    <div class="ui segment">
      <code>
        $('.autumn.leaf').transition('shake');
      </code>
    </div>

    <h4>Pulse</h4>
    <p>An element can pulse to draw attention to its visibility</p>

    <a class="ui pointing below black ignored label" data-state="pulse">Run Code</a>
    <div class="ui segment">
      <code>
        $('.autumn.leaf').transition('pulse');
      </code>
    </div>

    <h4>Tada</h4>
    <p>An element can give user positive feedback for an action</p>

    <a class="ui pointing below black ignored label" data-state="tada">Run Code</a>
    <div class="ui segment">
      <code>
        $('.autumn.leaf').transition('tada');
      </code>
    </div>

    <h4>Bounce</h4>
    <p>An element can bounce to politely remind you of itself</p>

    <a class="ui pointing below black ignored label" data-state="bounce">Run Code</a>
    <div class="ui segment">
      <code>
        $('.autumn.leaf').transition('bounce');
      </code>
    </div>

    <h4>Glow</h4>
    <p>An element can glow to show its position in a page.</p>

    <a class="ui pointing below black ignored label" data-state="glow">Run Code</a>
    <div class="ui segment">
      <code>
        $('.autumn.leaf').transition('glow');
      </code>
    </div>


  </div>
  <div class="ui four wide column"></div>
</div>