
<h1 class="ui dividing header">Types</h1>
<h2 class="ui header">
  Rail
  <div class="sub header">A rail can be presented on the left or right side of a container</div>
</h2>

<div class="ui grid container">
  <div class="ui four wide column"></div>
  <div class="ui segment four eight wide column">
    <div class="ui left rail">
      <div class="ui segment">Left Rail Content</div>
    </div>
    <div class="ui right rail">
      <div class="ui segment">Right Rail Content</div>
    </div>
    <div class="ui placeholder">
      <div class="paragraph">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>
    </div>
  </div>
  <div class="ui four wide column"></div>
</div>
  

<h2 class="ui header">
  Internal
  <div class="sub header">A rail can attach itself to the inside of a container</div>
</h2>

<div class="ui segment container">
  <div class="ui left internal rail">
    <div class="ui segment">
      Left Rail Content
    </div>
  </div>
  <div class="ui right internal rail">
    <div class="ui segment">
      Right Rail Content
    </div>
  </div>

  <div class="ui fluid placeholder">
    <div class="paragraph">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
  </div>
</div>

<h2 class="ui header">Dividing<div class="sub header">A rail can create a division between itself and a container</div></h2>
<div class="ui grid container">
  <div class="ui four wide column"></div>
  <div class="ui segment four eight wide column">
    <div class="ui left dividing rail">
      <div class="ui segment">Left Rail Content</div>
    </div>
    <div class="ui right dividing rail">
      <div class="ui segment">Right Rail Content</div>
    </div>
    <div class="ui placeholder">
      <div class="paragraph">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>
    </div>
  </div>
  <div class="ui four wide column"></div>
</div>

<h1 class="ui dividing header">Variations</h1>

<h2 class="ui header">Attached<div class="sub header">A rail can appear attached to the main viewport</div></h2>
<div class="ui grid container">
  <div class="ui four wide column"></div>
  <div class="ui segment four eight wide column">
    <div class="ui left attached rail">
      <div class="ui segment">Left Rail Content</div>
    </div>
    <div class="ui right attached rail">
      <div class="ui segment">Right Rail Content</div>
    </div>
    <div class="ui placeholder">
      <div class="paragraph">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>
    </div>
  </div>
  <div class="ui four wide column"></div>
</div>

<h2 class="ui header">Close<div class="sub header">A rail can appear closer to the main viewport</div></h2>

<div class="ui grid container">
  <div class="ui four wide column"></div>
  <div class="ui segment four eight wide column">
    <div class="ui left close rail">
      <div class="ui segment">Left Rail Content</div>
    </div>
    <div class="ui right close rail">
      <div class="ui segment">Right Rail Content</div>
    </div>
    <div class="ui placeholder">
      <div class="paragraph">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>
    </div>
  </div>
  <div class="ui four wide column"></div>
</div>

<h2 class="ui header">Size<div class="sub header">A rail can have different sizes</div></h2>

<div class="ui grid container">
  <div class="ui four wide column"></div>
  <div class="ui segment four eight wide column">
    <div class="ui left mini rail">
      mini
    </div>
    <div class="ui right massive rail">
      massive
    </div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
  <div class="ui four wide column"></div>
</div>

<div class="ui divider"></div>

<div class="ui grid container">
  <div class="ui four wide column"></div>
  <div class="ui segment four eight wide column">
    <div class="ui left large rail">
      large
    </div>
    <div class="ui right rail">
      normal
    </div>
    <div class="ui placeholder">
      <div class="paragraph">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>
    </div>
  </div>
  <div class="ui four wide column"></div>
</div>

<div class="ui grid container">
  <div class="ui four wide column"></div>
  <div class="ui segment four eight wide column">
    <div class="ui left huge rail">
      huge
    </div>
    <div class="ui right mini rail">
      mini
    </div>
    <div class="ui placeholder">
      <div class="paragraph">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>
    </div>
  </div>
  <div class="ui four wide column"></div>
</div>

<div class="ui grid container">
  <div class="ui four wide column"></div>
  <div class="ui segment four eight wide column">
    <div class="ui left big rail">
      big
    </div>
    <div class="ui right tiny rail">
      tiny
    </div>
    <div class="ui placeholder">
      <div class="paragraph">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>
    </div>
  </div>
  <div class="ui four wide column"></div>
</div>
